In [ ]:
import warnings
warnings.simplefilter("ignore")
import gzip
import json
import pandas as pd

def parse_json_gz(file_path):
        with open(file_path, 'r') as f:
            for line in f:
                yield json.loads(line)

reviews = list(parse_json_gz(r'C:\MS DS\RG_Winter25\Capstone 1 DSCI 591\data\review-Pennsylvania.json\review-Pennsylvania.json'))
metadata = list(parse_json_gz(r'C:\MS DS\RG_Winter25\Capstone 1 DSCI 591\data\meta-Pennsylvania.json\meta-Pennsylvania.json'))


pd.set_option('display.max_columns', None)

reviews = pd.DataFrame(reviews)
metadata = pd.DataFrame(metadata)
# Identify all columns with dtype 'object'
object_cols = reviews.select_dtypes(include=['object']).columns

# Convert those columns to string
reviews[object_cols] = reviews[object_cols].astype(str)
reviews.drop_duplicates(inplace=True)
# Identify all columns with dtype 'object'
object_cols = metadata.select_dtypes(include=['object']).columns

# Convert those columns to string
metadata[object_cols] = metadata[object_cols].astype(str)
metadata.drop_duplicates(inplace=True)

print("Reviews DataFrame:")
print(reviews.info())
print("\nMetadata DataFrame:")
print(metadata.info())
def merge_datasets(reviews, metadata, merge_on='gmap_id'):
    return pd.merge(reviews, metadata, on=merge_on, how='left')


object_cols = metadata.select_dtypes(include=['object']).columns



merged_data_df = merge_datasets(reviews, metadata)
def handle_missing_values(df):
    drop_subset = ['user_id', 'rating']
    text_columns = ['text', 'description', 'resp']
    categorical_columns = ['name_x', 'name_y', 'category', 'price', 'address', 'hours', 'MISC', 'url']
    
    # Dropping rows with missing critical fields
    df = df.dropna(subset=drop_subset)

    # Filling text columns with empty strings
    for col in text_columns:
        if col in df.columns:
            df[col] = df[col].fillna("")


    # Filling categorical columns with "unknown"
    for col in categorical_columns:
        if col in df.columns:
            df[col] = df[col].fillna("unknown")
    
    return df
df = handle_missing_values(merged_data_df)
if 'time' in df.columns:
    try:
        df['time'] = pd.to_datetime(df['time'], unit='ms')
    except Exception:
        df['time'] = pd.to_datetime(df['time'], errors='coerce')
numeric_fields = ['rating','user_id', 'avg_rating', 'num_of_reviews', 'latitude', 'longitude']
for field in numeric_fields:
    if field in df.columns:
        df[field] = pd.to_numeric(df[field], errors='coerce')

df.rename(columns={'name_x': 'customer_name', 'name_y': 'business_name'}, inplace=True)

Reviews DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 21712798 entries, 0 to 21944801
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   float64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.5+ GB
None

Metadata DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 189836 entries, 0 to 190815
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              189836 non-null  object
 1   address           189836 non-null  object
 2   gmap_id           189836 non-null  object
 3   description       189836 non-null  object
 4   latitude          189836 non-null  float64
 5   longitude         189836 non-null  float64
 6   category          189836 non-null  object
 7   avg_rating        189836 non-null  float64
 8   num_of_reviews    189836 non-null  int64
 9   price             189836 non-null  object
 10  hours             189836 non-null  object
 11  MISC              189836 non-null  object
 12  state             189836 non-null  object
 13  relative_results  189836 non-null  object
 14  url               189836 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 23.2+ MB
None

In [3]:
object_cols = df.select_dtypes(include=['object']).columns

# Convert those columns to string
df[object_cols] = df[object_cols].astype(str)

columns_to_fix = df[object_cols] # Replace with actual column names
for col in columns_to_fix:
    df[col] = df[col].astype(str).str.replace("\x00", "", regex=True)

In [4]:
df.drop_duplicates(inplace=True)

In [ ]:
# Drop specified columns
df_new = df.drop(columns=['category', 'hours', 'MISC', 'relative_results','pics'])

# Sort by 'time' column
df_new = df_new.sort_values(by='time', ascending=True)

# Reset index and set as 'id'
df_new = df_new.reset_index(drop=True).rename_axis('id').reset_index()

# Display first few rows
df_new.head()

,id,user_id,customer_name,time,rating,text,resp,gmap_id,business_name,address,description,latitude,longitude,avg_rating,num_of_reviews,price,state,url
0,0,1.136701e+20,Michelle OBrien,1990-12-31,4.0,Flatbreads are delicious for appetizers to sha...,None,0x89c6944bbcf4f9fb:0x77c6109d1ce368f4,Seasons 52,"Seasons 52, 160 N Gulph Rd Suite 101, King of ...",Rotating menu of seasonal American dishes alon...,40.085768,-75.394432,4.4,1618,$$,PA,https://www.google.com/maps/place//data=!4m2!3...
1,1,1.004704e+20,Howard Dinin,1990-12-31,4.0,"well-run and clearly a popular ""happening"" spo...",None,0x89c6c630798d07a5:0x7da1292822f531db,Alma de Cuba,"Alma de Cuba, 1623 Walnut St, Philadelphia, PA...",Fusion fare with Cuban influences; happy hour ...,39.950078,-75.168517,4.4,998,$$$,PA,https://www.google.com/maps/place//data=!4m2!3...
2,2,1.138597e+20,Joe Nicolas,1990-12-31,5.0,None,None,0x89c6c625b14dea8b:0xb31072102487e2fe,VALANNI,"VALANNI, 1229 Spruce St, Philadelphia, PA 1910...",Distinctive Mediterranean-Latin dishes served ...,39.946850,-75.162217,4.3,448,$$,PA,https://www.google.com/maps/place//data=!4m2!3...
3,3,1.004403e+20,Chef Marsha Kiv,1990-12-31,3.0,I have been to many of Chef Garces' restaurant...,None,0x89c6c6f86d1010ad:0x2fb936cf6717b44d,Distrito,"Distrito, 3945 Chestnut St, Philadelphia, PA 1...",Mexican bites & potent margaritas flavor this ...,39.955999,-75.202017,4.0,838,$$,PA,https://www.google.com/maps/place//data=!4m2!3...
4,4,1.178880e+20,Melody Tsai,1990-12-31,5.0,Great Food!,None,0x89c6c60e85b145bf:0xb189cdb4c35a41f3,South Philadelphia Tap Room,"South Philadelphia Tap Room, 1509 Mifflin St, ...",American beer bar featuring a lineup of drafts...,39.927216,-75.171477,4.6,746,$$,PA,https://www.google.com/maps/place//data=!4m2!3...

In [ ]:
df_new.head(100)

,id,user_id,customer_name,time,rating,text,resp,gmap_id,business_name,address,description,latitude,longitude,avg_rating,num_of_reviews,price,state,url
0,0,1.136701e+20,Michelle OBrien,1990-12-31,4.0,Flatbreads are delicious for appetizers to sha...,None,0x89c6944bbcf4f9fb:0x77c6109d1ce368f4,Seasons 52,"Seasons 52, 160 N Gulph Rd Suite 101, King of ...",Rotating menu of seasonal American dishes alon...,40.085768,-75.394432,4.4,1618,$$,PA,https://www.google.com/maps/place//data=!4m2!3...
1,1,1.004704e+20,Howard Dinin,1990-12-31,4.0,"well-run and clearly a popular ""happening"" spo...",None,0x89c6c630798d07a5:0x7da1292822f531db,Alma de Cuba,"Alma de Cuba, 1623 Walnut St, Philadelphia, PA...",Fusion fare with Cuban influences; happy hour ...,39.950078,-75.168517,4.4,998,$$$,PA,https://www.google.com/maps/place//data=!4m2!3...
2,2,1.138597e+20,Joe Nicolas,1990-12-31,5.0,None,None,0x89c6c625b14dea8b:0xb31072102487e2fe,VALANNI,"VALANNI, 1229 Spruce St, Philadelphia, PA 1910...",Distinctive Mediterranean-Latin dishes served ...,39.946850,-75.162217,4.3,448,$$,PA,https://www.google.com/maps/place//data=!4m2!3...
3,3,1.004403e+20,Chef Marsha Kiv,1990-12-31,3.0,I have been to many of Chef Garces' restaurant...,None,0x89c6c6f86d1010ad:0x2fb936cf6717b44d,Distrito,"Distrito, 3945 Chestnut St, Philadelphia, PA 1...",Mexican bites & potent margaritas flavor this ...,39.955999,-75.202017,4.0,838,$$,PA,https://www.google.com/maps/place//data=!4m2!3...
4,4,1.178880e+20,Melody Tsai,1990-12-31,5.0,Great Food!,None,0x89c6c60e85b145bf:0xb189cdb4c35a41f3,South Philadelphia Tap Room,"South Philadelphia Tap Room, 1509 Mifflin St, ...",American beer bar featuring a lineup of drafts...,39.927216,-75.171477,4.6,746,$$,PA,https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,1.183500e+20,Dan F,2005-08-31,5.0,this could be the best byo in the burbs. ever...,None,0x89c6c07607056697:0x2b8e2876e3a9517e,Sola,"Sola, 614 Lancaster Ave, Bryn Mawr, PA 19010",New American seasonal cuisine served in a cozy...,40.018088,-75.312039,4.3,28,$$$,PA,https://www.google.com/maps/place//data=!4m2!3...
96,96,1.183500e+20,Dan F,2005-08-31,4.0,this neighborhood tap room really cooks. ever...,None,0x89c6c898b3eb1341:0x12cfe87713184d11,New Wave Cafe,"New Wave Cafe, 784 S 3rd St, Philadelphia, PA ...",Locals fill this casual sports bar to chat wit...,39.938080,-75.148527,4.4,435,$,PA,https://www.google.com/maps/place//data=!4m2!3...
97,97,1.051016e+20,Mac Frazier,2005-10-22,2.0,great traditional german food! the setting is ...,None,0x89c6afbf8417a279:0x3dd203c5ec7db1e3,Otto's Brauhaus,"Otto's Brauhaus, 233 Easton Rd, Horsham, PA 19044","Prime rib, steaks, seafood & German specialtie...",40.175800,-75.128520,4.0,678,$$,PA,https://www.google.com/maps/place//data=!4m2!3...
98,98,1.051016e+20,Mac Frazier,2005-10-22,2.0,"cute, themed diner, with good shakes and burge...",None,0x89c6c2f455344797:0x12987ea5eabacd5a,Nifty Fifty's,"Nifty Fifty's, 1900 MacDade Boulevard, Folsom,...","Nostalgic, '50s-style American diner with burg...",39.895706,-75.314895,4.4,3156,$,PA,https://www.google.com/maps/place//data=!4m2!3...
99,99,1.051016e+20,Mac Frazier,2005-10-22,2.0,None,None,0x89c6b0ea14e77aeb:0xb00d8934ef9a7781,La Pergola,"La Pergola, 726 West Ave, Jenkintown, PA 19046",Hummus & Middle Eastern fare shares menu space...,40.095844,-75.126244,4.3,58,$$,PA,https://www.google.com/maps/place//data=!4m2!3...

In [8]:
df_new.head().to_csv('./final_mergxzced_pa.csv',index=True)

In [ ]:

import pandas as pd
from sqlalchemy import create_engine
from concurrent.futures import ThreadPoolExecutor

# Database connection parameters
DB_HOST = "localhost"  # e.g., "localhost"
DB_PORT = "5432"  # Default PostgreSQL port
DB_NAME = "Capstone"
DB_USER = "postgres"
DB_PASSWORD = "Google#13"
TABLE_NAME = "backup"
CHUNK_SIZE = 4000  # Adjust as needed

# Create a SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")



def insert_chunk(chunk, engine, table_name):
    """
    Inserts a chunk of pandas DataFrame rows into a table in the given database engine.
    """
    try:
        # Write to SQL in 'append' mode
        chunk.to_sql(table_name, engine, if_exists="append", index=False)
    except Exception as e:
        print(f"Error inserting chunk: {e}")


# Perform sequential chunk-wise insertion
try:
    total_rows = len(df_new)
    for start in range(0, total_rows, CHUNK_SIZE):
        # Slicing the DataFrame chunk
        chunk = df_new.iloc[start: start + CHUNK_SIZE]
        insert_chunk(chunk, engine, TABLE_NAME)
    print(f"Data successfully dumped to table '{TABLE_NAME}' in PostgreSQL!")
except Exception as e:
    print("Error:", e)

Data successfully dumped to table 'main' in PostgreSQL!

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Example connection string (modify based on your database)
DB_HOST = "rgx.ddns.net"  # e.g., "localhost"
DB_PORT = "5432"  # Default PostgreSQL port
DB_NAME = "Capstone"
DB_USER = "postgres"
DB_PASSWORD = "Google#13"
TABLE_NAME = "main"
CHUNK_SIZE = 600  # Adjust as needed

# Create a SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

# SQL query to fetch user_id and text
query = "SELECT user_id, text FROM main WHERE text != 'None';"

# Read into DataFrame
df = pd.read_sql(query, engine)

# Display DataFrame
df.head()

KeyboardInterrupt:

In [ ]:
df.head()

NameError: name 'df' is not defined

In [3]:
from nltk.tokenize import word_tokenize
text = "Hello, this is a test."
print(word_tokenize(text))

['Hello', ',', 'this', 'is', 'a', 'test', '.']

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
import re
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from multiprocessing import Pool, cpu_count
from nltk.corpus import stopwords
import re

def clean_text(text):
    text = re.sub(r'\s+', ' ', text).strip()
    
    # Tokenize text
    tokens = word_tokenize(text)

    # Remove stopwords
    tokens = [word for word in tokens if word.lower() not in set(stopwords.words('english'))]

    return ' '.join(tokens)
Session = sessionmaker(bind=engine)

# Function to update a batch of rows
def update_batch(batch):
    session = Session()
    try:
        query = text(f"""
            UPDATE {TABLE_NAME}
            SET clean_text = :clean_text
            WHERE user_id = :user_id
        """)
        session.execute(query, batch)
        session.commit()
    except Exception as e:
        print(f"Error: {e}")
        session.rollback()
    finally:
        session.close()

# Clean text in parallel
with Pool(cpu_count()) as pool:
    df['clean_text'] = pool.map(clean_text, df['text'])

# Convert DataFrame to list of dictionaries for batch update
data = df[['user_id', 'clean_text']].to_dict(orient='records')

# Process updates in parallel
num_workers = cpu_count()
batch_size = len(data) // num_workers

with Pool(num_workers) as pool:
    pool.map(update_batch, [data[i:i + batch_size] for i in range(0, len(data), batch_size)])

print("Update completed successfully!")

In [ ]:
import pandas as pd
import re

# SQLAlchemy imports
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker

# NLTK imports
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Multiprocessing
from multiprocessing import Pool, cpu_count

# For progress bar
from tqdm import tqdm

# ------------------------------------------------------------------------
# 1. SETUP: Create your engine, session, and define your table name
# ------------------------------------------------------------------------
# Example (uncomment or replace with actual):
# engine = create_engine("postgresql://user:pass@host:port/dbname")
Session = sessionmaker(bind=engine)
TABLE_NAME = "main"

# Initialize VADER sentiment analyzer (do this once, outside the worker function)
sid = SentimentIntensityAnalyzer()

# ------------------------------------------------------------------------
# 2. Define your text-cleaning function
# ------------------------------------------------------------------------
def clear_text(text):
    """
    Cleans the text by removing extra whitespace, tokenizing,
    and removing stopwords.
    """
    # Basic whitespace cleanup
    text = re.sub(r'\s+', ' ', text).strip()

    # Tokenize
    tokens = word_tokenize(text)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word.lower() not in stop_words]

    # Rejoin cleaned tokens
    return ' '.join(tokens)

# ------------------------------------------------------------------------
# 3. Define sentiment computation function
# ------------------------------------------------------------------------
def compute_sentiment(cleaned_text):
    """
    Computes the sentiment score using VADER.
    Returns the 'compound' score as a simple representative metric.
    """
    scores = sid.polarity_scores(cleaned_text)
    return scores['compound']

# ------------------------------------------------------------------------
# 4. Define function to process and update a *batch* of rows
# ------------------------------------------------------------------------
def process_and_update_batch(batch):
    """
    Cleans text and computes sentiment for each row in the batch,
    then updates the database in a single transaction.
    Returns True if successful (for tqdm progress).
    """
    session = Session()
    try:
        # Optional: Use tqdm.write to keep the progress bar intact
        # (If you want to see which batch is being processed)
        tqdm.write(f"Processing a batch of size {len(batch)}...")

        for row in batch:
            user_id = row['user_id']
            raw_text = row['text']

            # Clean the text
            cleaned_text = clear_text(raw_text)

            # Compute sentiment
            text_sentiment = compute_sentiment(cleaned_text)

            # Execute the update
            update_query = text(f"""
                UPDATE {TABLE_NAME}
                SET clear_text = :clean_text,
                    text_sentiment = :text_sentiment
                WHERE user_id = :user_id
            """)
            session.execute(
                update_query,
                {
                    "clean_text": cleaned_text,
                    "text_sentiment": text_sentiment,
                    "user_id": user_id
                }
            )

        # Commit once per batch
        session.commit()

        # Optional success message
        tqdm.write("Batch successfully committed!")

    except Exception as e:
        # Print the error using tqdm.write (to avoid breaking progress bar)
        tqdm.write(f"Error processing batch: {e}")
        session.rollback()
        return False

    finally:
        session.close()

    return True

# ------------------------------------------------------------------------
# 5. Main logic with a DataFrame and parallel batching
# ------------------------------------------------------------------------
if __name__ == '__main__':
    # Example DataFrame with columns 'user_id' and 'text'
    # In practice, you might read from your DB:
    # df = pd.read_sql("SELECT user_id, text FROM main", engine)

    # df = pd.DataFrame([
    #     {'user_id': 1, 'text': "This is an example!"},
    #     {'user_id': 2, 'text': "Another example text, with some negativity..."},
    #     {'user_id': 3, 'text': "I love using Python for data analysis!"},
    #     # ... many more rows ...
    # ])

    # Print some details
    print("Starting text cleaning and sentiment analysis with VADER...")
    print(f"Number of records in DataFrame: {df.shape}")

    # Create the data as list of dicts (if not already)
    # data = df.to_dict(orient='records')

    # Number of CPU cores
    num_workers = cpu_count()
    print(f"Detected {num_workers} CPU cores.")

    # --------------------------------------------------------------------
    # 6. Create chunks (batches) of size 50
    # --------------------------------------------------------------------
    batch_size = 50
    batches = [df[i : i + batch_size] for i in range(0, len(df), batch_size)]
    print(f"Created {len(batches)} batch(es) with batch_size={batch_size}.")

    # --------------------------------------------------------------------
    # 7. Distribute these batches across CPU cores in parallel,
    #    with a TQDM progress bar
    # --------------------------------------------------------------------
    print("Initializing multiprocessing Pool...")
    with Pool(num_workers) as pool:
        # imap yields results one by one, so we can increment tqdm for each batch
        for _ in tqdm(pool.imap(process_and_update_batch, batches),
                      total=len(batches),
                      desc="Processing Batches"):
            pass

    print("All batches processed, sentiment scored, and updates committed successfully!")

Starting text cleaning and sentiment analysis with VADER...
Number of records in DataFrame: (12032232, 2)
Detected 32 CPU cores.
Created 240645 batch(es) with batch_size=50.
Initializing multiprocessing Pool...

Processing Batches:   0%|          | 0/240645 [00:00<?, ?it/s]

In [ ]:
import pandas as pd
import re

# SQLAlchemy imports
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker

# Hugging Face Transformers for GPU-based sentiment
import torch
from transformers import pipeline

# Multiprocessing
from multiprocessing import Pool, cpu_count

# TQDM progress bar (optional)
from tqdm import tqdm

# ------------------------------------------------------------------------
# 1. SETUP: Create your engine, session, and define your table name
# ------------------------------------------------------------------------
# engine = create_engine("postgresql://user:pass@host:port/dbname")  # Example
Session = sessionmaker(bind=engine)
TABLE_NAME = "main"

# ------------------------------------------------------------------------
# 2. GPU-Accelerated Sentiment Analysis Pipeline
# ------------------------------------------------------------------------
#   device=0 uses the first GPU (if torch.cuda.is_available() is True),
#   otherwise it falls back to CPU with device=-1.
device = 0 if torch.cuda.is_available() else -1

# Load a pre-trained sentiment model.
# You can pick any model from https://huggingface.co/models?pipeline_tag=sentiment-analysis
sentiment_pipeline = pipeline(
    "sentiment-analysis",
    model="nlptown/bert-base-multilingual-uncased-sentiment",
    device=device
)

# ------------------------------------------------------------------------
# 3. Text-cleaning function (CPU-based)
# ------------------------------------------------------------------------
def clear_text(text):
    """
    Basic cleanup via regex, tokenization, and optional removal of stopwords.
    """
    # Basic whitespace cleanup
    text = re.sub(r'\s+', ' ', text).strip()
    return text

# ------------------------------------------------------------------------
# 4. GPU-based sentiment function
# ------------------------------------------------------------------------
def compute_sentiment_gpu(cleaned_text):
    """
    Runs the text through a Hugging Face Transformers sentiment pipeline.
    Returns label (e.g., "1 star", "5 stars", "POSITIVE"/"NEGATIVE", etc.)
    and a confidence score.
    """
    # The pipeline returns a list of results, e.g. [{'label': 'POSITIVE', 'score': 0.99}]
    results = sentiment_pipeline(cleaned_text)
    result = results[0]  # first (and only) item
    label = result["label"]
    score = result["score"]
    return label, score

# ------------------------------------------------------------------------
# 5. Function to process and update a *batch* of rows
# ------------------------------------------------------------------------
def process_and_update_batch(batch):
    """
    Cleans text and computes sentiment for each row in the batch (GPU-based),
    then updates the database in a single transaction.
    """
    session = Session()
    try:
        for row in batch:
            user_id = row["user_id"]
            raw_text = row["text"]

            # 1) Clean text (CPU-based minimal cleaning)
            cleaned_text = clear_text(raw_text)

            # 2) Compute sentiment with GPU
            label, score = compute_sentiment_gpu(cleaned_text)

            # 3) Update the database
            update_query = text(f"""
                UPDATE {TABLE_NAME}
                SET clean_text = :clean_text,
                    text_sentiment = :text_sentiment,
                    text_sentiment_score = :text_score
                WHERE user_id = :user_id
            """)

            session.execute(
                update_query,
                {
                    "clean_text": cleaned_text,
                    "text_sentiment": label,
                    "text_score": score,
                    "user_id": user_id,
                }
            )

        # Commit once for the entire batch
        session.commit()

    except Exception as e:
        print(f"Error processing batch: {e}")
        session.rollback()
    finally:
        session.close()

    return True

# ------------------------------------------------------------------------
# 6. Main logic with parallel batch processing
# ------------------------------------------------------------------------
if __name__ == "__main__":
    # For demonstration, create an example DataFrame with columns 'user_id' and 'text'
    # In practice, you'd read from your DB, e.g.:
    # df = pd.read_sql("SELECT user_id, text FROM main", engine)



    # Number of CPU cores
    num_workers = cpu_count()
    print(f"Detected {num_workers} CPU cores (processes).")

    # Batch size
    batch_size = 5
    batches = [df[i : i + batch_size] for i in range(0, len(df), batch_size)]
    print(f"Created {len(batches)} batch(es) with batch_size={batch_size}.")

    # Use multiprocessing pool
    with Pool(num_workers) as pool:
        # tqdm for a progress bar if desired
        for _ in tqdm(pool.imap(process_and_update_batch, batches),
                      total=len(batches),
                      desc="Processing Batches"):
            pass

    print("All batches processed with GPU-based sentiment and updates committed successfully!")

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [ ]:
def get_sentiment(text):
    sentiment_score = sia.polarity_scores(text)['compound']
    
    # Classify sentiment
    if sentiment_score >= 0.05:
        sentiment = "Positive"
    elif sentiment_score <= -0.05:
        sentiment = "Negative"
    else:
        sentiment = "Neutral"
    
    return sentiment_score, sentiment

# Apply sentiment analysis
df[['sentiment_score', 'sentiment_category']] = df['clean_text'].apply(lambda x: pd.Series(get_sentiment(x)))

In [ ]:
pip install ace_tools

In [ ]:
# Display DataFrame
import ace_tools as tools
tools.display_dataframe_to_user(name="Sentiment Analysis Data", dataframe=df)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Example connection string (modify based on your database)
DB_HOST = "localhost"  # e.g., "localhost"
DB_PORT = "5432"  # Default PostgreSQL port
DB_NAME = "Capstone"
DB_USER = "postgres"
DB_PASSWORD = "Google#13"
TABLE_NAME = "main"
CHUNK_SIZE = 600  # Adjust as needed

# Create a SQLAlchemy engine
engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

# SQL query to fetch user_id and text
query = "SELECT gmap_id, latitude, longitude FROM main"

# Read into DataFrame
df_loc = pd.read_sql(query, engine)

# Display DataFrame
df_loc.head()

In [ ]:
pip install geopy

In [ ]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import pandas as pd

# Initialize geocoder
geolocator = Nominatim(user_agent="geoapiExercises")

def get_zipcode(lat, lon):
    """
    Fetches ZIP code from latitude and longitude using Nominatim.
    """
    try:
        location = geolocator.reverse((lat, lon), exactly_one=True)
        if location and 'postcode' in location.raw['address']:
            return location.raw['address']['postcode']
        else:
            return None  # No ZIP code found
    except GeocoderTimedOut:
        return "Timeout"

# Example latitude and longitude values


# Apply function to get ZIP codes
df_loc['zip_code'] = df_loc.apply(lambda row: get_zipcode(row['latitude'], row['longitude']), axis=1)